<!--
        goldenlayout
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>golden-layout 练习</title>
<link rel="stylesheet" href="/css/common.css">
<style type="text/css">
#my-lagout{
   height: 300px;
   width: 300px;
   margin: 15px auto;
   border: solid 1px #ccc;
}
</style>
</head>
<body>
	<h2 align="center">golden-layout practise</h2>
	<hr color="red" />
	<div id="my-lagout"></div>
	<ul>
	   <li><button class="addFont">font++</button></li>
	   <li><button class="addBack">back++</button></li>
	</ul>
	<button class="me">me</button>
</body>
<script src="/js/require.js"  data-main="/js/followPoint/mainLayout"></script>
<script src="/js/config/requireConfig.js"></script>
</html>